/* Elementos que no existen como tal en el html,
   empiezan con : */
:root {
    --blanco: #FFF;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

    --fuente-principal: 3.8rem;
}

/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box; /*Hack para box model*/
    scroll-snap-type: y mandatory;
}

.servicio,
.navegacion-principal,
.formulario { /*Donde se detiene el snap*/
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

/* Snippet para box model*/
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif; /*Se aplica en todos los elementos*/
    background-image: linear-gradient(to top, #DFE9F3 0%, var(--blanco) 100%); /*Para hacer un fondo degradado*/
    /*direccion, primer color, segundo color*/
}

.contenedor {
    max-width: 120rem; /* toma como máximo esa medida si hay espacio disponible*/
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;    
    text-align: center;
    width: 90%;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

.boton:hover {
    cursor: pointer;
}

.sombra {
    box-shadow: -1px 6px 14px -1px rgba(89,89,89,0.75);
    -webkit-box-shadow: -1px 6px 14px -1px rgba(89,89,89,0.75);
    -moz-box-shadow: -1px 6px 14px -1px rgba(89,89,89,0.75);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/* Tipografías */
h1 {
    font-size: var(--fuente-principal);
    color: var(--primario);
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1, h2, h3 {
    text-align: center;
}

/* titulos */
.titulo span {
    font-size: 2rem; 
}

/* Utilidades */
.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}

.flex {
    display: flex;
}

.alinear-derrecha {
    justify-content: flex-end;
}

/* Navegación principal */
.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

/* Mediades comunes
    480px(cambia en telefonos), 768px(cambia en tablets), (1140 px laptop o de escritorio), (1400px) */
    @media (min-width: 768px) {
        .navegacion-principal {
            flex-direction: row;
            justify-content: space-between;
        }
    }

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);    
}

p {
    font-family: 'Satisfy', cursive;
}

/* Hero section */
.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative; /*Para que el hijo se pueda posicionar de forma absoluta*/
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6); /*Anterior*/
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contenido-hero h2,
.contenido-hero p  {
    color: var(--blanco);
}



        /*Main section*/
/*Servicios*/
@media (min-width: 768px) {
    .servicios {
        display: grid;
        /* grid-template-columns: 30rem 30rem 30rem; Definimos columnas de 300px */
        grid-template-columns: repeat(3, 33.3%); /*Creeme 3 columnas de 33.3%*/
        /* grid-template-rows: 20rem 10rem; La fila de arriba mide 20rem y la de abajo 80rem */
        /* grid: 20rem 80rem / 30rem 30rem 30rem (de manera simplificada)*/
     }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
}

.servicio p {
    line-height: 2; /*Interlineado*/
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly; 
    align-items: center; /*Alinear verticalmente*/
}

/*Contacto*/
.formulario {
    background-color: var(--gris);
    width: min(60rem, 100%); /*Toma dos valores y utiliza el valor mas pequeño y sirve para ahorrar mq*/
    margin: 0 auto; /*Siempre que haya un elemento cuyo padre no es un display flex*/
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--primario);
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem; /*Separacion de las columnas*/
        grid-template-rows: auto auto 20rem;
    }   

    .campo:nth-child(3),
    .campo:nth-child(4) { /*Seleccionar la tercera clase campo para no crear otra clase*/
        grid-column: 1 / 3; /*Para que vaya de la  1 a la 3 columna*/
    }

}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: 1.5rem;
    display: block;
}

.campo textarea {
    height: 20rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.footer {
    text-align: center;
}